!!!
%html
  %head
    %title jpzip api
  %body
    %h1
      Hello, jpzip!
    %p
      jpzip api searches zip codes in Japan.
    %h2
      jpzip's Many Features
    %ul
      %li Sinatra and mongodb make it faster!
      %li You can use it with jQuery very easy.
      %li It uses Cloud Foundry.

