!!!
%html
  %head
    %title jpzip api
  %body
    %h1
      Hello, jpzip!
    %p
      jpzip api searches zip codes in Japan.
    %h2
      jpzip's Many Features
    %ul
      %li Sinatra and mongodb make it faster!
      %li You can use it with jQuery very easy.
      %li It uses Cloud Foundry.
    %h2
      Source
    %dl
      %dt
        Github
      %dd
        %a{ href: "https://github.com/ysawa/jpzip" }
          ysawa/jpzip - GitHub.
      %dt
        Japan Post Service
      %dd
        %a{ href: "http://www.post.japanpost.jp/zipcode/download.html" }
          the download page of zip codes.
    %h2
      Author
    %p
      created by ysawa
